html {
	font-size: 62.5%;
	font-family: 'system-ui', 'sans-serif';
	line-height: 1.4;
	text-align: justify;
}

body {
	margin: 0;
}

@media (max-width: 600px) {
	html {
		font-size: 55%;
	}
}

input::placeholder {
	color: rgba(48,62,77,0.3);
}
